.cart-container {
  display: grid;
  grid-template-columns: min-content 2fr 1fr 1fr;
  align-items: center;
  padding: 0 15px;
  gap: 20px;
  font-size: 12px;
  text-align: left;
  overflow: auto;
}

.cart-item-qty__button {
  cursor: pointer;
}