.product-details-header {
  text-align: right;
}

.product-details-container {
  display: grid;
  grid-template-columns: 500px 1fr;
  justify-items: center;
  text-align: center;
}

.product-details-carousel-container {
  width: 500px;
}

.product-details {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  align-items: center;
}

.product-details__description {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
  line-height: 1.5;
}

@media screen and (max-width: 840px){
  .product-details-container {
    grid-template-columns: 1fr;
  }
  .product-details__description {
    padding-top: 15px;
    padding-bottom: 25px;
  }
}