.container {
  font-family: Montserrat, "Helvetica Neue", Arial, sans-serif;
  display: grid;
  height: 100vh;
  grid-template-columns: 3fr minmax(350px, 1fr);
  grid-template-rows: min-content auto;
  grid-template-areas: 
    "header header"
    "main sidebar";
}

.header {
  grid-area: header;
  text-align: center;
  border-bottom: 1px solid lightgray;
}

.main {
  grid-area: main;
}

.sidebar {
  grid-area: sidebar;
}